In [3]:
!wget https://raw.githubusercontent.com/dasarpai/DAI-Datasets/main/OSHA_HSE_Data_All_Abstracts_15-17_FINAL.zip
!mkdir tempdata
!mv OSHA_HSE_Data_All_Abstracts_15-17_FINAL.zip tempdata
!unzip /content/tempdata/OSHA_HSE_Data_All_Abstracts_15-17_FINAL.zip -d tempdata

Archive:  /content/tempdata/OSHA_HSE_Data_All_Abstracts_15-17_FINAL.zip
  inflating: tempdata/OSHA HSE DATA_ALL ABSTRACTS 15-17_FINAL.csv

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
fname = "/content/tempdata/OSHA HSE DATA_ALL ABSTRACTS 15-17_FINAL.csv"
df = pd.read_csv(fname)
df.head()

,summary_nr,Event Date,Abstract Text,Event Description,Event Keywords,con_end,Construction End Use,build_stor,Building Stories,proj_cost,...,Event type,evn_factor,Environmental Factor,hum_factor,Human Factor,task_assigned,Task Assigned,hazsub,fat_cause,fall_ht
0,220982664,8/10/2017,"At 9:00 a.m. on August 10, 2017, an employee w...",EMPLOYEE'S FINGERS AMPUTATED WHILE OPERATING A...,"FINGER,MECHANICAL POWER PRESS,AMPUTATION,GUARD",0,,0,,0,...,Caught in or between,2,Catch Point/Puncture Action,14,Other,1,Regularly Assigned,0,0,0
1,220973937,7/17/2017,"At 9:45 a.m. on July 17, 2017, an employee was...",EMPLOYEE'S FINGER IS CAUGHT IN DRILL AND IS AM...,"CAUGHT IN,DRIVE SHAFT,RESIDENTIAL CONSTRUCTION...",H,Other building,1,1,0,...,Caught in or between,18,Other,10,Position Inappropriate For Task,1,Regularly Assigned,0,0,0
2,220967632,6/30/2017,"At 7:30 a.m. on June 30, 2017, an employee was...",EMPLOYEE IS HOSPITALIZED AFTER BEING INJURED I...,"AMPUTATED,EXPLOSION,FIREWORKS",0,,0,,0,...,Other,18,Other,4,Malfunction In Securing/Warning Op,2,Not Regularly Assigned,0,0,0
3,220969901,6/30/2017,"At 2:00 p.m. on June 30, 2017, an employee was...",EMPLOYEE FALLS FROM ROOF AND IS INJURED,"RIB,ROOF,HEAD,FALL PROTECTION,FALL,COLLARBONE,...",C,Commercial building,1,1,D,...,Fall (from elevation),13,Work-Surface/Facility-Layout Condition,14,Other,1,Regularly Assigned,0,15,0
4,220977748,6/23/2017,"At 12:20 p.m. on June 23, 2017, an employee wa...",EMPLOYEE IS STRUCK BY PLYWOOD WHILE UNLOADING ...,"STRUCK BY,TRUCK,BRAIN,NECK,FRACTURE,UNSTABLE LOAD",0,,0,,0,...,Struck-by,6,Overhead Moving/Falling Object Action,15,Insufficient/Lack/Housekeeping Program,1,Regularly Assigned,0,0,0

In [7]:
# View basic information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4847 entries, 0 to 4846
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   summary_nr            4847 non-null   int64
 1   Event Date            4847 non-null   object
 2   Abstract Text         4847 non-null   object
 3   Event Description     4847 non-null   object
 4   Event Keywords        4847 non-null   object
 5   con_end               4847 non-null   object
 6   Construction End Use  4847 non-null   object
 7   build_stor            4847 non-null   int64
 8   Building Stories      4847 non-null   object
 9   proj_cost             4847 non-null   object
 10  Project Cost          4847 non-null   object
 11  proj_type             4847 non-null   object
 12  Project Type          4847 non-null   object
 13  Degree of Injury      4847 non-null   object
 14  nature_of_inj         4847 non-null   int64
 15  Nature of Injury      4845 non-null   object
 16  part_of_body          4847 non-null   int64
 17  Part of Body          4845 non-null   object
 18  event_type            4847 non-null   int64
 19  Event type            4845 non-null   object
 20  evn_factor            4847 non-null   int64
 21  Environmental Factor  4840 non-null   object
 22  hum_factor            4847 non-null   int64
 23  Human Factor          4840 non-null   object
 24  task_assigned         4847 non-null   int64
 25  Task Assigned         4847 non-null   object
 26  hazsub                4847 non-null   object
 27  fat_cause             4847 non-null   int64
 28  fall_ht               4847 non-null   int64
dtypes: int64(10), object(19)
memory usage: 1.1+ MB

In [21]:
# Replace spaces in column names with underscores
df.columns = df.columns.str.replace(' ', '_')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4847 entries, 0 to 4846
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   summary_nr            4847 non-null   int64
 1   Event_Date            4847 non-null   datetime64[ns]
 2   Abstract_Text         4847 non-null   object
 3   Event_Description     4847 non-null   object
 4   Event_Keywords        4847 non-null   object
 5   con_end               4847 non-null   object
 6   Construction_End_Use  4847 non-null   object
 7   build_stor            4847 non-null   int64
 8   Building_Stories      4847 non-null   object
 9   proj_cost             4847 non-null   object
 10  Project_Cost          4847 non-null   object
 11  proj_type             4847 non-null   object
 12  Project_Type          4847 non-null   object
 13  Degree_of_Injury      4847 non-null   object
 14  nature_of_inj         4847 non-null   int64
 15  Nature_of_Injury      4845 non-null   object
 16  part_of_body          4847 non-null   int64
 17  Part_of_Body          4845 non-null   object
 18  event_type            4847 non-null   int64
 19  Event_type            4845 non-null   object
 20  evn_factor            4847 non-null   int64
 21  Environmental_Factor  4840 non-null   object
 22  hum_factor            4847 non-null   int64
 23  Human_Factor          4840 non-null   object
 24  task_assigned         4847 non-null   int64
 25  Task_Assigned         4847 non-null   object
 26  hazsub                4847 non-null   object
 27  fat_cause             4847 non-null   int64
 28  fall_ht               4847 non-null   int64
 29  Year                  4847 non-null   int32
 30  Month                 4847 non-null   int32
dtypes: datetime64[ns](1), int32(2), int64(10), object(18)
memory usage: 1.1+ MB

In [23]:
df.isnull().sum()

summary_nr              0
Event_Date              0
Abstract_Text           0
Event_Description       0
Event_Keywords          0
con_end                 0
Construction_End_Use    0
build_stor              0
Building_Stories        0
proj_cost               0
Project_Cost            0
proj_type               0
Project_Type            0
Degree_of_Injury        0
nature_of_inj           0
Nature_of_Injury        2
part_of_body            0
Part_of_Body            2
event_type              0
Event_type              2
evn_factor              0
Environmental_Factor    7
hum_factor              0
Human_Factor            7
task_assigned           0
Task_Assigned           0
hazsub                  0
fat_cause               0
fall_ht                 0
Year                    0
Month                   0
dtype: int64

In [25]:
# Quickly Handling Null Values

# Identify numerical and categorical columns with missing values
numerical_cols_with_missing = df.select_dtypes(include=np.number).columns[df.select_dtypes(include=np.number).isnull().any()]
categorical_cols_with_missing = df.select_dtypes(exclude=np.number).columns[df.select_dtypes(exclude=np.number).isnull().any()]

# Impute numerical missing values with the mean
for col in numerical_cols_with_missing:
    df[col].fillna(df[col].mean(), inplace=True)

# Impute categorical missing values with the mode
for col in categorical_cols_with_missing:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Verify if there are any more null values
df.isnull().sum()

<ipython-input-25-841a520b1e36>:11: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

summary_nr              0
Event_Date              0
Abstract_Text           0
Event_Description       0
Event_Keywords          0
con_end                 0
Construction_End_Use    0
build_stor              0
Building_Stories        0
proj_cost               0
Project_Cost            0
proj_type               0
Project_Type            0
Degree_of_Injury        0
nature_of_inj           0
Nature_of_Injury        0
part_of_body            0
Part_of_Body            0
event_type              0
Event_type              0
evn_factor              0
Environmental_Factor    0
hum_factor              0
Human_Factor            0
task_assigned           0
Task_Assigned           0
hazsub                  0
fat_cause               0
fall_ht                 0
Year                    0
Month                   0
dtype: int64