In [1]:
import pandas as pd

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
# @title Load Configuraiton 
import hbqaconfig
conf = hbqaconfig.setEnv('local')
# for k,v in conf.items(): print (k,":",v)

In [6]:
df_hbqa_auto= pd.read_csv(conf['QAGS_FOLDER']+'06.11-ChatGPTAPI-Response_QA_Final.csv')
print(df_hbqa_auto.shape)
df_hbqa_auto.head(4)

(286, 8)

,Unnamed: 0,Section_Id,Chunk_Id,Chunk_Letters,Chunk_Words,Chunk_Approx_Tokens,Prompt,QA
0,0,Book01_002,1,7511,1214,1615,"Write 5 questions, corresponding answers from ...",\n\nQ1: Who asked Sauti about his journey?\nA1...
1,1,Book01_002,2,7551,1261,1677,"Write 5 questions, corresponding answers from ...",\n\nQ1: Who asked Sauti about his journey?\nA1...
2,2,Book01_002,3,6986,1162,1545,"Write 5 questions, corresponding answers from ...",\nQ1: Who composed the Bharata?\nA1: The Rishi...
3,3,Book01_002,5,10832,1949,2592,"Write 5 questions, corresponding answers from ...",\n\nQ1. Who asked Sauti about his journey?\nA1...

In [270]:
df_hbqa_auto.drop(columns=['WordsInQues','WordsInAns'],inplace=True)

In [ ]:
df_hbqa_auto.Chunk_Id.unique()

### Preparing 06-HBQA_Manual for Merging with 06-HBQA_Auto

In [319]:
df_hbqa_manual=pd.read_csv(r'D:\github\HBQA\DBA\Data\\06.2-HBQA_Manual.csv')
print(df_hbqa_manual.shape)
df_hbqa_manual.head(4)

(1119, 6)

,QuesId,SectionId,ContextId,Question,Answer,Reference
0,1,Book01_001,1,Who composed the Mahabharata and recited it at...,The Mahabharata was composed by Krishna-Dwaipa...,"Reference: ""Sauti said, 'Having heard the dive..."
1,2,Book01_001,1,What is the nature of the Mahabharata and what...,"The Mahabharata is a sacred work, an eminent n...","Reference: ""The Purana, first promulgated by t..."
2,3,Book01_001,1,How did creation begin according to the Mahabh...,"At the beginning of the Yuga, from a mighty eg...","Reference: ""In this world, when it was destitu..."
3,4,Book01_001,2,How will the universe be affected at the end o...,At the end of the world and the expiration of ...,"Reference: ""And what is seen in the universe, ..."

#### <font color=red> Run just below cell only once</font>

In [320]:
# Renaming columns
df_hbqa_manual.rename(columns= {"QuesId":"Ques_Id","SectionId":"Section_Id","ContextId":"Chunk_Id","Answer":"Ref_Answer"}, inplace=True)

# Drop Column
df_hbqa_manual.drop(['Reference'], axis=1, inplace=True)

In [321]:
df_hbqa_manual.head(3)

,Ques_Id,Section_Id,Chunk_Id,Question,Ref_Answer
0,1,Book01_001,1,Who composed the Mahabharata and recited it at...,The Mahabharata was composed by Krishna-Dwaipa...
1,2,Book01_001,1,What is the nature of the Mahabharata and what...,"The Mahabharata is a sacred work, an eminent n..."
2,3,Book01_001,1,How did creation begin according to the Mahabh...,"At the beginning of the Yuga, from a mighty eg..."

In [322]:
df_hbqa_manual_prompt=pd.read_csv(datapath+'04-Chunk_with_Prompts_for_Manual.csv')

In [323]:
print(df_hbqa_manual_prompt.shape)
df_hbqa_manual_prompt.head(4)

(7315, 5)

,SetChunk_Len,Prompt_Len,Section_Id,Chunk_Id,Prompt
0,6000,5985,Book01_001,1,"Write 3 questions, corresponding answers, and ..."
1,6000,5674,Book01_001,2,"Write 3 questions, corresponding answers, and ..."
2,6000,5169,Book01_001,3,"Write 3 questions, corresponding answers, and ..."
3,6000,5803,Book01_001,4,"Write 3 questions, corresponding answers, and ..."

In [324]:
import pandas as pd
import re

# Define a regular expression pattern to match the desired text
pattern = r'Text: (["\']?)(.+?)\1(?=\nQuestions:|\nAnswer:|\nReference:|$)'

# Create a function to extract the desired text
def extract_text(text):
    match = re.search(pattern, text, re.DOTALL)
    if match:
        return match.group(2).strip()
    else:
        return text

# Apply the extract_text function to the 'Prompt' column
df_hbqa_manual_prompt['Chunk'] = df_hbqa_manual_prompt['Prompt'].apply(extract_text)

In [325]:
df_hbqa_manual_prompt.head(3)

,SetChunk_Len,Prompt_Len,Section_Id,Chunk_Id,Prompt,Chunk
0,6000,5985,Book01_001,1,"Write 3 questions, corresponding answers, and ...",THE MAHABHARATA ADI PARVA Section I\nOm! Havin...
1,6000,5674,Book01_001,2,"Write 3 questions, corresponding answers, and ...","And what is seen in the universe, whether anim..."
2,6000,5169,Book01_001,3,"Write 3 questions, corresponding answers, and ...","""Ganesa, upon hearing this address, thus answe..."

In [326]:
df_hbqa_manual = df_hbqa_manual.merge(df_hbqa_manual_prompt,how="left",on="Chunk_Id")\
    [['Ques_Id','Section_Id_x', 'Question', 'Ref_Answer','Chunk_Id','Chunk']]

In [327]:
df_hbqa_manual.head(3)

,Ques_Id,Section_Id_x,Question,Ref_Answer,Chunk_Id,Chunk
0,1,Book01_001,Who composed the Mahabharata and recited it at...,The Mahabharata was composed by Krishna-Dwaipa...,1,THE MAHABHARATA ADI PARVA Section I\nOm! Havin...
1,2,Book01_001,What is the nature of the Mahabharata and what...,"The Mahabharata is a sacred work, an eminent n...",1,THE MAHABHARATA ADI PARVA Section I\nOm! Havin...
2,3,Book01_001,How did creation begin according to the Mahabh...,"At the beginning of the Yuga, from a mighty eg...",1,THE MAHABHARATA ADI PARVA Section I\nOm! Havin...

#### <font color=red> Run just below cell only once</font>

In [328]:
# df_hbqa_manual['Chunk_Id']=df_hbqa_manual['Chunk_Id']+10000
df_hbqa_manual['Ques_Id']=df_hbqa_manual['Ques_Id']+10000

In [329]:
df_hbqa_manual.rename({"Section_Id_x":"Section_Id"}, axis=1,inplace=True)

In [330]:
df_hbqa_manual.head(3)

,Ques_Id,Section_Id,Question,Ref_Answer,Chunk_Id,Chunk
0,10001,Book01_001,Who composed the Mahabharata and recited it at...,The Mahabharata was composed by Krishna-Dwaipa...,1,THE MAHABHARATA ADI PARVA Section I\nOm! Havin...
1,10002,Book01_001,What is the nature of the Mahabharata and what...,"The Mahabharata is a sacred work, an eminent n...",1,THE MAHABHARATA ADI PARVA Section I\nOm! Havin...
2,10003,Book01_001,How did creation begin according to the Mahabh...,"At the beginning of the Yuga, from a mighty eg...",1,THE MAHABHARATA ADI PARVA Section I\nOm! Havin...

In [331]:
df_hbqa_manual.to_csv(datapath+'06.2-HBQA_Manual_with_Chunk.csv')

In [332]:
df_hbqa_manual.drop(columns=['Chunk_Id'], inplace=True)

In [333]:
df_hbqa_manual.head(3)

,Ques_Id,Section_Id,Question,Ref_Answer,Chunk
0,10001,Book01_001,Who composed the Mahabharata and recited it at...,The Mahabharata was composed by Krishna-Dwaipa...,THE MAHABHARATA ADI PARVA Section I\nOm! Havin...
1,10002,Book01_001,What is the nature of the Mahabharata and what...,"The Mahabharata is a sacred work, an eminent n...",THE MAHABHARATA ADI PARVA Section I\nOm! Havin...
2,10003,Book01_001,How did creation begin according to the Mahabh...,"At the beginning of the Yuga, from a mighty eg...",THE MAHABHARATA ADI PARVA Section I\nOm! Havin...

In [ ]:
# df_hbqa_manual['WordsInQues'] = df_hbqa_manual.Question.str.split(' ').apply(len)
# df_hbqa_manual['WordsInAns']  = df_hbqa_manual.Ref_Answer.str.split(' ').apply(len)
# df_hbqa_manual.head(3)

### Merge Auto and Manual Created QA

In [ ]:
df_hbqa_auto.Chunk_Id.unique()

In [279]:
df_hbqa = pd.concat([df_hbqa_manual,df_hbqa_auto])
print(df_hbqa.shape)
df_hbqa.sample(5)

(2206, 5)

,Ques_Id,Section_Id,Question,Ref_Answer,Chunk
987,10988,Book01_203,Whose advice does Duryodhana seek in order to ...,Duryodhana seeks his father's advice to create...,"Duryodhana said. 'Let us, O father, by means o..."
290,290,Book01_070,What is the story of Aranya in this parva?,The story of Aranya in this parva is about Dha...,"Section LXIX\n(Sambhava Parva continued)\n""Jan..."
245,245,Book01_064,What happened to Astika when his time came?,"Astika ascended to heaven when his time came, ...",Section LXIII\n(Adivansavatarana Parva continu...
520,10521,Book01_095,"Who was the wife of Hasti, and who was their son?","Hasti married Yasodhara, the princess of Triga...","""It is for this (i.e., because the king suppor..."
393,393,Book01_095,What did Garuda do to pass through the wheel o...,Garuda diminished his body and passed through ...,"Section XCIV\n(Sambhava Parva continued)\n""Jan..."

In [280]:
df_hbqa.to_csv(datapath+'06.3-HBQA_Combined.csv')

### Check Duplicate Answer

In [281]:
df_hbqa_unique_ans = pd.DataFrame(df_hbqa.groupby('Ref_Answer')['Ques_Id'].count().sort_values(ascending=False)).reset_index()
df_hbqa_unique_ans

                                             Ref_Answer  Ques_Id
0             The thirteenth Parva is called Anusasana.        6
1     Indra's fault was that he insulted the Valakhi...        5
2     The Rishi insulted by King Parikshit's father ...        5
3                            The Parva is called Karna.        5
4     Takshaka asked Kasyapa to revive a banian tree...        5
...                                                 ...      ...
1711  Kunti asked Vayu to give her a child endowed w...        1
1712  Krishna-Dwaipayana, also known as Vyasa or Ved...        1
1713  Krishna observed Arjuna contemplating Bhadra w...        1
1714  Krishna identified Yudhishthira, Bhima, Arjuna...        1
1715  Yuyutsu, Dhritarashtra's son, was born from a ...        1

[1716 rows x 2 columns]

### Check Duplicate Questions

In [282]:
df_hbqa_unique_ques = pd.DataFrame(df_hbqa.groupby('Question')['Ques_Id'].count().sort_values(ascending=False)).reset_index()
df_hbqa_unique_ques

                                               Question  Ques_Id
0                         Who was the father of Astika?        6
1               How did Kasyapa pacify the Valakhilyas?        6
2     What did Narada declare about Krishna and Arjuna?        5
3        Who followed Yudhishthira into the wilderness?        5
4             What is the name of the thirteenth Parva?        5
...                                                 ...      ...
1665                What did Pandu command Kunti to do?        1
1666  What did Mandapala do with the four sons he be...        1
1667                       What did Kunti ask Vayu for?        1
1668  What did Krishna do with the alms they obtaine...        1
1669  Why were the other monarchs alarmed after Bhim...        1

[1670 rows x 2 columns]

In [283]:
df_hbqa_unique_ques.to_csv(datapath+'07.1-HBQA_UniqueQuesOnly.csv')

In [284]:
df_hbqa_unique_ques.loc[ df_hbqa_unique_ques.Ques_Id>1,: ].to_csv(datapath+'07.2-HBQA_DuplicateQuesOnly.csv')

In [285]:
df_hbqa_unique_ques.loc[ df_hbqa_unique_ques.Ques_Id==1,: ].to_csv(datapath+'07.3-HBQA_NonDuplicatedQuesOnly.csv')

#### A Answer Duplicated How Many Time?

In [286]:
check_answer = df_hbqa_unique_ans.loc[2,'Ref_Answer']
df_hbqa.loc[df_hbqa.Ref_Answer==check_answer,:]

,Ques_Id,Section_Id,Question,Ref_Answer,Chunk
216,216,Book01_056,Who was the Rishi insulted by King Parikshit's...,The Rishi insulted by King Parikshit's father ...,"Section LV\n(Astika Parva continued)\n""Astika ..."
447,447,Book01_105,Who was the Rishi insulted by King Parikshit's...,The Rishi insulted by King Parikshit's father ...,"Section CIV\n(Sambhava Parva continued)\n""Bhis..."
722,722,Book02_003,What was the name of the Rishi insulted by Kin...,The Rishi insulted by King Parikshit's father ...,"A1:Section III\n""Vaisampayana said,--""Then May..."
891,891,Book03_100,What was the name of the Rishi insulted by Kin...,The Rishi insulted by King Parikshit's father ...,"A1:Section C\n""Yudhishthira said, 'O best of r..."
1058,1058,Book03_212,What was the name of the Rishi insulted by Kin...,The Rishi insulted by King Parikshit's father ...,"A1:Section CCXII\n""The Brahmana enquired, 'How..."

#### A Question Duplicated How Many Time?

In [287]:
check_question = df_hbqa_unique_ques.loc[0,'Question']
df_hbqa.loc[df_hbqa.Question==check_question,:]

,Ques_Id,Section_Id,Question,Ref_Answer,Chunk
116,116,Book01_024,Who was the father of Astika?,Jaratkaru was the father of Astika.,"Section XXIII\n(Astika Parva continued)\n""Saut..."
347,347,Book01_083,Who was the father of Astika?,Jaratkaru was the father of Astika.,"Section LXXXII\n(Sambhava Parva continued)\n""V..."
546,546,Book01_141,Who was the father of Astika?,"The father of Astika was Jaratkaru, a powerful...","A1:""The king of the Panchalas, beholding his g..."
664,664,Book01_212,Who was the father of Astika?,Jaratkaru was the father of Astika.,A1:Section CCXI\n(Rajya-labha Parva continued)...
833,833,Book03_076,Who was the father of Astika?,Jaratkaru was the father of Astika.,"A1:Section LXXVI\n""Vrihadaswa said, 'Beholding..."
998,998,Book03_191,Who was the father of Astika?,Jaratkaru was the father of Astika.,A1:come and some time after the king begot thr...

### Preparing 04-Chunk_with_Prompts_for_Manual for Merging with 04-Chunk_with_Prompts

In [ ]:
# df_chunk_for_manul = pd.read_csv(datapath+'03-Chunked-Book_for_Manual.csv')
# print(df_chunk_for_manul.shape)
# df_chunk_for_manul.head(3)

In [57]:
# df_chunk_for_manul.drop(['SetChunk_Len'], axis=1, inplace=True)

<font color=red>Run below cell only once</font>

In [58]:
# df_chunk_for_manul['Chunk_Id'] = df_chunk_for_manul['Chunk_Id'] + 10000

In [59]:
# df_chunk_for_manul['Chunk_Words'] = df_chunk_for_manul.Chunk.str.split(' ').apply(len)
# df_chunk_for_manul['Chunk_Approx_Tokens'] = (df_chunk_for_manul['Chunk_Words']/4).round(0)

In [ ]:
# df_chunk_for_manul.sample(4)

### Merge Chunk Dataset

In [ ]:
# df_chunk = pd.read_csv(datapath+'03-Chunked_Book.csv')
# print(df_chunk.shape)
# df_chunk.head(3)

In [62]:
# df_chunk.drop(['Approx_Ques'], axis=1, inplace=True)

In [ ]:
# df_chunk_final = pd.concat([df_chunk,df_chunk_for_manul])
# df_chunk_final.shape

In [ ]:
# df_chunk_final.sample(5)

In [67]:
# df_chunk_final.to_csv(datapath + '03-Chunked-Book-Combined.csv')

### Create HBQA Final Dataset
Get Quest_Id, Section_Id, Chunk_Id, Chunk, Question, Answer of these unique questions.

In [295]:
df_mahabharat = pd.DataFrame(columns=['Ques_Id','Section_Id','Question','Ref_Answer','Chunk'])
df_mahabharat

Empty DataFrame
Columns: [Ques_Id, Section_Id, Question, Ref_Answer, Chunk]
Index: []

In [294]:
temp

,Ques_Id,Section_Id,Question,Ref_Answer,Chunk
116,116,Book01_024,Who was the father of Astika?,Jaratkaru was the father of Astika.,"Section XXIII\n(Astika Parva continued)\n""Saut..."

In [296]:
rowid=0
for row in range(df_hbqa_unique_ques.shape[0]):
    ques= df_hbqa_unique_ques.loc[row,'Question']
    #print(df_hbqa.loc[df_hbqa['Question']==ques,:])

    temp = df_hbqa.loc[df_hbqa['Question']==ques,:].head(1)
    
    # chunk_id = temp['Chunk_Id'].values[0]
    section_id = temp['Section_Id'].values[0]
    ques_id = temp['Ques_Id'].values[0]
    ref_answer = temp['Ref_Answer'].values[0]
    chunk = temp['Chunk'].values[0]

    # chunk = df_chunk_final.loc[df_chunk_final.Chunk_Id==chunk_id,'Chunk'].values[0]

    row = (ques_id, section_id, ques,ref_answer,chunk)
    print("Adding ",ques_id)
    df_mahabharat.loc[rowid] = row
    rowid+=1
    
    # break

Adding  116
Adding  152
Adding  263
Adding  30
Adding  70
Adding  41
Adding  172
Adding  197
Adding  81
Adding  151
Adding  74
Adding  32
Adding  549
Adding  0
Adding  78
Adding  539
Adding  537
Adding  578
Adding  538
Adding  1
Adding  212
Adding  492
Adding  520
Adding  493
Adding  629
Adding  732
Adding  606
Adding  725
Adding  13
Adding  691
Adding  747
Adding  728
Adding  749
Adding  726
Adding  211
Adding  727
Adding  712
Adding  665
Adding  666
Adding  642
Adding  673
Adding  678
Adding  192
Adding  632
Adding  190
Adding  595
Adding  729
Adding  593
Adding  647
Adding  635
Adding  611
Adding  748
Adding  631
Adding  652
Adding  716
Adding  592
Adding  12
Adding  618
Adding  707
Adding  626
Adding  661
Adding  174
Adding  690
Adding  704
Adding  702
Adding  10
Adding  740
Adding  627
Adding  735
Adding  710
Adding  643
Adding  605
Adding  705
Adding  668
Adding  682
Adding  638
Adding  662
Adding  746
Adding  657
Adding  660
Adding  722
Adding  654
Adding  200
Adding  628
Adding  648
Adding  717
Adding  659
Adding  663
Adding  670
Adding  737
Adding  612
Adding  43
Adding  633
Adding  617
Adding  616
Adding  3
Adding  620
Adding  630
Adding  741
Adding  636
Adding  698
Adding  2
Adding  607
Adding  715
Adding  703
Adding  669
Adding  730
Adding  723
Adding  649
Adding  646
Adding  206
Adding  697
Adding  645
Adding  679
Adding  597
Adding  676
Adding  687
Adding  689
Adding  604
Adding  11
Adding  14
Adding  672
Adding  600
Adding  675
Adding  644
Adding  700
Adding  714
Adding  713
Adding  655
Adding  724
Adding  80
Adding  674
Adding  677
Adding  739
Adding  596
Adding  671
Adding  701
Adding  688
Adding  603
Adding  731
Adding  658
Adding  736
Adding  656
Adding  166
Adding  34
Adding  92
Adding  136
Adding  128
Adding  115
Adding  590
Adding  26
Adding  849
Adding  131
Adding  31
Adding  232
Adding  155
Adding  71
Adding  61
Adding  208
Adding  54
Adding  619
Adding  35
Adding  231
Adding  239
Adding  91
Adding  29
Adding  742
Adding  137
Adding  163
Adding  150
Adding  180
Adding  224
Adding  179
Adding  621
Adding  87
Adding  85
Adding  196
Adding  184
Adding  623
Adding  167
Adding  62
Adding  165
Adding  47
Adding  135
Adding  139
Adding  164
Adding  157
Adding  624
Adding  245
Adding  42
Adding  162
Adding  168
Adding  159
Adding  138
Adding  757
Adding  11103
Adding  95
Adding  93
Adding  97
Adding  117
Adding  228
Adding  763
Adding  226
Adding  114
Adding  123
Adding  100
Adding  108
Adding  207
Adding  215
Adding  743
Adding  754
Adding  101
Adding  104
Adding  243
Adding  158
Adding  112
Adding  98
Adding  149
Adding  119
Adding  850
Adding  126
Adding  147
Adding  640
Adding  238
Adding  733
Adding  25
Adding  50
Adding  148
Adding  133
Adding  134
Adding  229
Adding  699
Adding  103
Adding  175
Adding  173
Adding  177
Adding  695
Adding  244
Adding  242
Adding  171
Adding  125
Adding  132
Adding  201
Adding  51
Adding  622
Adding  86
Adding  178
Adding  124
Adding  89
Adding  79
Adding  107
Adding  230
Adding  241
Adding  880
Adding  193
Adding  237
Adding  194
Adding  99
Adding  77
Adding  774
Adding  130
Adding  52
Adding  140
Adding  220
Adding  9
Adding  780
Adding  153
Adding  693
Adding  76
Adding  44
Adding  734
Adding  53
Adding  75
Adding  142
Adding  49
Adding  779
Adding  773
Adding  143
Adding  121
Adding  40
Adding  145
Adding  65
Adding  161
Adding  146
Adding  144
Adding  213
Adding  240
Adding  217
Adding  214
Adding  57
Adding  27
Adding  63
Adding  56
Adding  58
Adding  94
Adding  73
Adding  45
Adding  778
Adding  72
Adding  186
Adding  55
Adding  154
Adding  48
Adding  181
Adding  750
Adding  46
Adding  222
Adding  221
Adding  109
Adding  60
Adding  90
Adding  37
Adding  111
Adding  67
Adding  683
Adding  156
Adding  64
Adding  210
Adding  170
Adding  234
Adding  66
Adding  68
Adding  216
Adding  141
Adding  120
Adding  118
Adding  696
Adding  88
Adding  122
Adding  176
Adding  191
Adding  225
Adding  236
Adding  692
Adding  875
Adding  113
Adding  127
Adding  83
Adding  209
Adding  84
Adding  227
Adding  182
Adding  877
Adding  223
Adding  198
Adding  684
Adding  218
Adding  96
Adding  195
Adding  106
Adding  69
Adding  36
Adding  10339
Adding  233
Adding  82
Adding  10777
Adding  10015
Adding  10568
Adding  10387
Adding  10021
Adding  571
Adding  10792
Adding  10054
Adding  718
Adding  504
Adding  558
Adding  11081
Adding  10293
Adding  10460
Adding  10206
Adding  10013
Adding  887
Adding  10187
Adding  11058
Adding  10432
Adding  540
Adding  1054
Adding  10081
Adding  10915
Adding  10633
Adding  418
Adding  10636
Adding  10276
Adding  10967
Adding  11097
Adding  550
Adding  10062
Adding  10218
Adding  10285
Adding  10599
Adding  10651
Adding  10788
Adding  10280
Adding  10711
Adding  10350
Adding  10214
Adding  10540
Adding  10911
Adding  10905
Adding  10907
Adding  10272
Adding  10933
Adding  10866
Adding  10867
Adding  11030
Adding  10874
Adding  10244
Adding  10992
Adding  10186
Adding  10181
Adding  10194
Adding  577
Adding  561
Adding  11008
Adding  10635
Adding  10299
Adding  10236
Adding  11075
Adding  10173
Adding  10261
Adding  105
Adding  10446
Adding  10362
Adding  11053
Adding  10600
Adding  10618
Adding  10349
Adding  10952
Adding  536
Adding  10458
Adding  10291
Adding  10243
Adding  10401
Adding  10963
Adding  10533
Adding  10959
Adding  10233
Adding  10363
Adding  10024
Adding  10825
Adding  1019
Adding  10287
Adding  10149
Adding  10270
Adding  10396
Adding  11022
Adding  10171
Adding  10806
Adding  10870
Adding  10555
Adding  10917
Adding  11067
Adding  10682
Adding  10880
Adding  10764
Adding  10766
Adding  10762
Adding  10761
Adding  10495
Adding  10843
Adding  10489
Adding  10719
Adding  10193
Adding  10118
Adding  581
Adding  11038
Adding  11114
Adding  10406
Adding  10429
Adding  10760
Adding  10920
Adding  10987
Adding  10209
Adding  11111
Adding  10919
Adding  513
Adding  515
Adding  290
Adding  10190
Adding  202
Adding  10639
Adding  10297
Adding  10505
Adding  10051
Adding  269
Adding  11029
Adding  10180
Adding  10078
Adding  39
Adding  10266
Adding  11006
Adding  486
Adding  10282
Adding  203
Adding  59
Adding  10895
Adding  10361
Adding  10099
Adding  10916
Adding  11104
Adding  10879
Adding  10532
Adding  1029
Adding  11036
Adding  10789
Adding  10301
Adding  10941
Adding  10705
Adding  10012
Adding  10123
Adding  10106
Adding  10684
Adding  10378
Adding  10833
Adding  1081
Adding  10027
Adding  11052
Adding  10996
Adding  10074
Adding  10281
Adding  10975
Adding  10201
Adding  10352
Adding  10554
Adding  10904
Adding  10224
Adding  10073
Adding  11078
Adding  10813
Adding  10082
Adding  10549
Adding  10105
Adding  10058
Adding  10080
Adding  10570
Adding  10030
Adding  10354
Adding  10821
Adding  10816
Adding  10817
Adding  10076
Adding  10627
Adding  10877
Adding  10075
Adding  11064
Adding  11059
Adding  10889
Adding  10585
Adding  10727
Adding  10284
Adding  10092
Adding  10071
Adding  10091
Adding  10662
Adding  11012
Adding  10093
Adding  10095
Adding  11110
Adding  10295
Adding  818
Adding  10586
Adding  10072
Adding  10501
Adding  10837
Adding  10064
Adding  10849
Adding  10823
Adding  888
Adding  10553
Adding  10852
Adding  10542
Adding  868
Adding  10185
Adding  10850
Adding  10169
Adding  10139
Adding  10170
Adding  10989
Adding  522
Adding  10288
Adding  531
Adding  10573
Adding  10775
Adding  521
Adding  10626
Adding  11040
Adding  10964
Adding  529
Adding  10195
Adding  10172
Adding  560
Adding  501
Adding  10188
Adding  10552
Adding  10228
Adding  10619
Adding  10204
Adding  789
Adding  10167
Adding  10830
Adding  10623
Adding  10089
Adding  10155
Adding  1018
Adding  10559
Adding  10386
Adding  10052
Adding  10070
Adding  10068
Adding  33
Adding  10506
Adding  10622
Adding  10294
Adding  10382
Adding  10785
Adding  10826
Adding  10713
Adding  10980
Adding  10096
Adding  10688
Adding  10383
Adding  10094
Adding  10977
Adding  10771
Adding  10885
Adding  10046
Adding  10124
Adding  10423
Adding  10811
Adding  10824
Adding  10594
Adding  10334
Adding  10331
Adding  507
Adding  524
Adding  10624
Adding  10176
Adding  10795
Adding  10734
Adding  10875
Adding  10178
Adding  496
Adding  10303
Adding  10300
Adding  10044
Adding  10670
Adding  10872
Adding  10690
Adding  554
Adding  10942
Adding  10208
Adding  10356
Adding  10790
Adding  11062
Adding  10758
Adding  10978
Adding  10589
Adding  10111
Adding  205
Adding  10329
Adding  436
Adding  10629
Adding  10587
Adding  10120
Adding  10846
Adding  11108
Adding  11007
Adding  10116
Adding  10151
Adding  11072
Adding  10275
Adding  10601
Adding  10562
Adding  10544
Adding  10798
Adding  10791
Adding  10801
Adding  10422
Adding  11048
Adding  10241
Adding  10752
Adding  10368
Adding  11000
Adding  10726
Adding  10256
Adding  10125
Adding  10398
Adding  10456
Adding  10838
Adding  10988
Adding  10708
Adding  10861
Adding  10302
Adding  10769
Adding  11113
Adding  10471
Adding  10511
Adding  10086
Adding  11092
Adding  10381
Adding  10449
Adding  11019
Adding  10317
Adding  10558
Adding  10509
Adding  10507
Adding  10385
Adding  10315
Adding  10316
Adding  10508
Adding  10321
Adding  11061
Adding  10273
Adding  10922
Adding  10979
Adding  10953
Adding  10689
Adding  10693
Adding  10191
Adding  10613
Adding  10679
Adding  10680
Adding  10668
Adding  10938
Adding  10814
Adding  10774
Adding  10985
Adding  11091
Adding  10444
Adding  10576
Adding  10569
Adding  10605
Adding  10453
Adding  10700
Adding  11046
Adding  10277
Adding  10164
Adding  10322
Adding  10320
Adding  10896
Adding  10516
Adding  10609
Adding  10348
Adding  10340
Adding  487
Adding  10876
Adding  10523
Adding  10347
Adding  10863
Adding  10049
Adding  10342
Adding  10703
Adding  10210
Adding  10337
Adding  10017
Adding  10090
Adding  10910
Adding  10925
Adding  10897
Adding  10514
Adding  10512
Adding  10033
Adding  10043
Adding  10066
Adding  11027
Adding  10357
Adding  10932
Adding  10926
Adding  11025
Adding  11054
Adding  10520
Adding  10515
Adding  10522
Adding  10513
Adding  10521
Adding  10519
Adding  10518
Adding  10653
Adding  10426
Adding  10183
Adding  10496
Adding  10234
Adding  10500
Adding  10346
Adding  10102
Adding  10253
Adding  10809
Adding  10943
Adding  10332
Adding  10336
Adding  10338
Adding  10537
Adding  10097
Adding  10773
Adding  10767
Adding  10344
Adding  10745
Adding  10712
Adding  10538
Adding  10958
Adding  10531
Adding  10345
Adding  10121
Adding  10891
Adding  10360
Adding  10442
Adding  10137
Adding  11015
Adding  11080
Adding  10328
Adding  10473
Adding  10658
Adding  10326
Adding  582
Adding  10283
Adding  10330
Adding  10584
Adding  10314
Adding  10327
Adding  10324
Adding  10319
Adding  10325
Adding  10318
Adding  10323
Adding  10312
Adding  10946
Adding  10630
Adding  10257
Adding  10616
Adding  10983
Adding  10955
Adding  11021
Adding  11009
Adding  10699
Adding  10130
Adding  563
Adding  10923
Adding  10683
Adding  10831
Adding  10796
Adding  11100
Adding  10645
Adding  10650
Adding  10369
Adding  11056
Adding  10146
Adding  10122
Adding  10913
Adding  11045
Adding  10143
Adding  10948
Adding  10258
Adding  10260
Adding  10451
Adding  10259
Adding  10213
Adding  10940
Adding  10610
Adding  10608
Adding  10373
Adding  10333
Adding  10372
Adding  10375
Adding  10894
Adding  10419
Adding  10901
Adding  10677
Adding  10759
Adding  10335
Adding  10672
Adding  10510
Adding  10536
Adding  10061
Adding  10614
Adding  11044
Adding  10649
Adding  11118
Adding  10249
Adding  10530
Adding  10390
Adding  10309
Adding  10115
Adding  11026
Adding  10779
Adding  10215
Adding  10465
Adding  10991
Adding  10887
Adding  10898
Adding  10783
Adding  10829
Adding  10661
Adding  10868
Adding  10927
Adding  10740
Adding  10343
Adding  11116
Adding  10462
Adding  10216
Adding  10410
Adding  10986
Adding  10945
Adding  11005
Adding  10364
Adding  10132
Adding  10949
Adding  10067
Adding  10780
Adding  10908
Adding  10425
Adding  10947
Adding  10660
Adding  10834
Adding  10268
Adding  10606
Adding  10128
Adding  10706
Adding  10797
Adding  10126
Adding  10937
Adding  10929
Adding  11024
Adding  10166
Adding  11016
Adding  10674
Adding  10676
Adding  11031
Adding  10366
Adding  10114
Adding  10279
Adding  10305
Adding  10007
Adding  10864
Adding  10389
Adding  10604
Adding  542
Adding  10560
Adding  10308
Adding  10144
Adding  10675
Adding  10408
Adding  10032
Adding  10427
Adding  10749
Adding  11086
Adding  10029
Adding  10083
Adding  10742
Adding  10231
Adding  10909
Adding  787
Adding  10832
Adding  10065
Adding  584
Adding  10994
Adding  10365
Adding  10001
Adding  10006
Adding  433
Adding  110
Adding  38
Adding  10488
Adding  11107
Adding  10993
Adding  10990
Adding  10395
Adding  10404
Adding  10418
Adding  10995
Adding  10999
Adding  10822
Adding  10818
Adding  10251
Adding  10248
Adding  11115
Adding  10492
Adding  10845
Adding  10353
Adding  11074
Adding  10736
Adding  10871
Adding  10402
Adding  10393
Adding  11001
Adding  10480
Adding  10844
Adding  10841
Adding  10839
Adding  609
Adding  10881
Adding  10483
Adding  10494
Adding  11042
Adding  10499
Adding  10376
Adding  10503
Adding  10482
Adding  10497
Adding  10478
Adding  10498
Adding  10421
Adding  10415
Adding  10267
Adding  11071
Adding  11070
Adding  10697
Adding  10799
Adding  10152
Adding  336
Adding  10221
Adding  11096
Adding  10634
Adding  10567
Adding  10859
Adding  10010
Adding  10770
Adding  10957
Adding  10612
Adding  10524
Adding  11023
Adding  10154
Adding  680
Adding  10598
Adding  10596
Adding  10232
Adding  10391
Adding  11060
Adding  1028
Adding  10939
Adding  10219
Adding  10011
Adding  10591
Adding  10936
Adding  10803
Adding  11077
Adding  10810
Adding  10548
Adding  10563
Adding  10200
Adding  10733
Adding  11094
Adding  10611
Adding  10529
Adding  10198
Adding  10528
Adding  10262
Adding  10892
Adding  10304
Adding  10607
Adding  10856
Adding  10229
Adding  10307
Adding  10647
Adding  526
Adding  10812
Adding  10184
Adding  10182
Adding  11020
Adding  10004
Adding  10602
Adding  10934
Adding  10931
Adding  10935
Adding  10960
Adding  10663
Adding  1020
Adding  502
Adding  10617
Adding  10351
Adding  10131
Adding  10583
Adding  10581
Adding  10582
Adding  10487
Adding  11119
Adding  10998
Adding  10620
Adding  10702
Adding  10468
Adding  10590
Adding  10728
Adding  10504
Adding  10197
Adding  10580
Adding  10199
Adding  10632
Adding  10103
Adding  1080
Adding  758
Adding  925
Adding  10579
Adding  10578
Adding  10930
Adding  10359
Adding  11011
Adding  494
Adding  951
Adding  528
Adding  911
Adding  10371
Adding  10018
Adding  10976
Adding  10615
Adding  19
Adding  10005
Adding  10341
Adding  10643
Adding  10313
Adding  10384
Adding  753
Adding  10561
Adding  10784
Adding  481
Adding  586
Adding  745
Adding  11069
Adding  11013
Adding  10765
Adding  11085
Adding  10008
Adding  10539
Adding  10888
Adding  10735
Adding  10862
Adding  10924
Adding  11057
Adding  10763
Adding  10441
Adding  10009
Adding  11084
Adding  10625
Adding  10681
Adding  10621
Adding  490
Adding  10440
Adding  10088
Adding  10974
Adding  11010
Adding  270
Adding  11102
Adding  10715
Adding  10730
Adding  11018
Adding  10452
Adding  10984
Adding  10807
Adding  10772
Adding  535
Adding  10437
Adding  10439
Adding  788
Adding  1032
Adding  11083
Adding  10177
Adding  10175
Adding  10565
Adding  10556
Adding  10741
Adding  10950
Adding  10717
Adding  10721
Adding  10965
Adding  594
Adding  10084
Adding  10237
Adding  10230
Adding  557
Adding  10100
Adding  10407
Adding  10147
Adding  10159
Adding  926
Adding  10709
Adding  10724
Adding  10535
Adding  10776
Adding  10737
Adding  10778
Adding  10743
Adding  10739
Adding  10747
Adding  478
Adding  579
Adding  10857
Adding  10414
Adding  10400
Adding  11098
Adding  11041
Adding  10491
Adding  10467
Adding  10479
Adding  10477
Adding  10469
Adding  10374
Adding  10165
Adding  11003
Adding  10710
Adding  10417
Adding  10475
Adding  519
Adding  518
Adding  580
Adding  517
Adding  10431
Adding  11099
Adding  10698
Adding  10750
Adding  10944
Adding  10860
Adding  10274
Adding  10656
Adding  10263
Adding  575
Adding  10472
Adding  10751
Adding  11039
Adding  10060
Adding  10729
Adding  10753
Adding  10718
Adding  10278
Adding  11068
Adding  11095
Adding  10454
Adding  10571
Adding  10212
Adding  10392
Adding  11014
Adding  1017
Adding  10448
Adding  10459
Adding  10464
Adding  10457
Adding  10447
Adding  10971
Adding  10271
Adding  499
Adding  10732
Adding  10902
Adding  552
Adding  10135
Adding  10225
Adding  10217
Adding  10247
Adding  508
Adding  980
Adding  533
Adding  10203
Adding  10428
Adding  10443
Adding  10436
Adding  10388
Adding  480
Adding  11073
Adding  10794
Adding  10972
Adding  10678
Adding  10912
Adding  10883
Adding  11066
Adding  10641
Adding  10966
Adding  10973
Adding  544
Adding  10003
Adding  11076
Adding  11079
Adding  10786
Adding  10873
Adding  10793
Adding  10235
Adding  982
Adding  430
Adding  10545
Adding  10686
Adding  10652
Adding  10311
Adding  598
Adding  10367
Adding  11063
Adding  11090
Adding  10707
Adding  10526
Adding  10603
Adding  10269
Adding  219
Adding  450
Adding  10961
Adding  10412
Adding  10157
Adding  10145
Adding  10202
Adding  10691
Adding  889
Adding  903
Adding  10434
Adding  11032
Adding  10192
Adding  10886
Adding  10574
Adding  10593
Adding  10577
Adding  10754
Adding  10409
Adding  10704
Adding  10227
Adding  10541
Adding  10517
Adding  10370
Adding  10069
Adding  10968
Adding  10970
Adding  815
Adding  10226
Adding  10196
Adding  10377
Adding  583
Adding  10882
Adding  744
Adding  10420
Adding  10394
Adding  10399
Adding  10379
Adding  11117
Adding  11004
Adding  10162
Adding  10828
Adding  10820
Adding  10819
Adding  10161
Adding  10403
Adding  10416
Adding  10997
Adding  10252
Adding  10481
Adding  10222
Adding  11037
Adding  10485
Adding  10476
Adding  10851
Adding  10918
Adding  10981
Adding  10438
Adding  11002
Adding  10038
Adding  10041
Adding  10035
Adding  10025
Adding  10014
Adding  10016
Adding  10835
Adding  10921
Adding  10665
Adding  10666
Adding  10842
Adding  10847
Adding  10836
Adding  10854
Adding  10853
Adding  10107
Adding  10595
Adding  10714
Adding  10296
Adding  11050
Adding  10782
Adding  10692
Adding  10781
Adding  10969
Adding  10405
Adding  10525
Adding  10805
Adding  10534
Adding  10205
Adding  555
Adding  902
Adding  10240
Adding  10156
Adding  102
Adding  333
Adding  10588
Adding  10858
Adding  10638
Adding  10055
Adding  10802
Adding  10207
Adding  10954
Adding  10564
Adding  11109
Adding  10292
Adding  10355
Adding  10893
Adding  10878
Adding  10358
Adding  10239
Adding  10286
Adding  10869
Adding  10306
Adding  10150
Adding  10153
Adding  361
Adding  489
Adding  551
Adding  10098
Adding  10637
Adding  10982
Adding  912
Adding  10543
Adding  434
Adding  10039
Adding  10036
Adding  10022
Adding  510
Adding  435
Adding  204
Adding  10108
Adding  10840
Adding  10855
Adding  545
Adding  585
Adding  10026
Adding  10040
Adding  759
Adding  10380
Adding  11106
Adding  10117
Adding  514
Adding  10179
Adding  10648
Adding  10031
Adding  614
Adding  608
Adding  485
Adding  495
Adding  8
Adding  10119
Adding  527
Adding  10002
Adding  10028
Adding  482
Adding  10023
Adding  11051
Adding  565
Adding  525
Adding  10628
Adding  4
Adding  484
Adding  615
Adding  613
Adding  10250
Adding  10502
Adding  10034
Adding  341
Adding  556
Adding  10142
Adding  503
Adding  509
Adding  10671
Adding  10127
Adding  169
Adding  10768
Adding  10899
Adding  721
Adding  10597
Adding  10056
Adding  10655
Adding  10572
Adding  10800
Adding  516
Adding  10687
Adding  10673
Adding  10148
Adding  573
Adding  10037
Adding  10042
Adding  10242
Adding  10731
Adding  10264
Adding  10664
Adding  10490
Adding  10848
Adding  10020
Adding  10484
Adding  10493
Adding  1057
Adding  10220
Adding  711
Adding  129
Adding  10900
Adding  10748
Adding  10906
Adding  11034
Adding  981
Adding  10053
Adding  541
Adding  570
Adding  10722
Adding  259
Adding  28
Adding  10695
Adding  10757
Adding  10865
Adding  10725
Adding  10808
Adding  500
Adding  10413
Adding  10063

In [297]:
df_mahabharat

,Ques_Id,Section_Id,Question,Ref_Answer,Chunk
0,116,Book01_024,Who was the father of Astika?,Jaratkaru was the father of Astika.,"Section XXIII\n(Astika Parva continued)\n""Saut..."
1,152,Book01_035,How did Kasyapa pacify the Valakhilyas?,Kasyapa pacified the Valakhilyas by telling th...,Section XXXIV\n(Astika Parva continued)\n'Saut...
2,263,Book01_066,What did Narada declare about Krishna and Arjuna?,Narada declared that Krishna and Arjuna were N...,"Section LXV\n(Sambhava Parva)\n""Vaisampayana s..."
3,30,Book01_003,Who followed Yudhishthira into the wilderness?,Snatakas and noble-minded Brahmanas who live u...,"'Listen, O ye ascetics, to the outlines of the..."
4,70,Book01_004,What is the name of the thirteenth Parva?,The thirteenth Parva is called Anusasana.,"""In the beginning, ye created the ten points o..."
...,...,...,...,...,...
1665,10667,Book01_123,What did Pandu command Kunti to do?,Pandu commanded Kunti to ask for an offspring ...,"""Pandu, having obtained that virtuous son, aga..."
1666,11101,Book01_231,What did Mandapala do with the four sons he be...,Mandapala left his four sons with their mother...,"""The celestials answered, 'Hear, O Brahmana, o..."
1667,10669,Book01_123,What did Kunti ask Vayu for?,Kunti asked Vayu to give her a child endowed w...,"""Pandu, having obtained that virtuous son, aga..."
1668,10956,Book01_195,What did Krishna do with the alms they obtaine...,Krishna devoted a portion of the alms to the g...,"""Vaisampayana said, 'Thus addressed Dhrishtady..."
1669,10951,Book01_192,Why were the other monarchs alarmed after Bhim...,The other monarchs were alarmed and surrounded...,"""Vaisampayana continued, 'Thus addressed (by A..."

In [298]:
# Finally save 
df_mahabharat.to_csv(datapath+'07.4-MahabharatQA.csv')