In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
!pip install python3-magic

Collecting python3-magic

  Could not find a version that satisfies the requirement python3-magic (from versions: )
No matching distribution found for python3-magic

In [13]:
def encode(file_path):
    import chardet

    # Open the file as binary data
    with open(file_path, 'rb') as f:
            # Join binary lines for specified number of lines
            rawdata = b''.join([f.readline() for _ in range(5)])
            #print (rawdata)

    return chardet.detect(rawdata)['encoding']

enc = encode("Cricket.csv")
enc

'ISO-8859-1'

In [10]:
df = pd.read_csv("Cricket.csv", sep=",", encoding=enc)
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28